{% extends "venta/base_ventas.html" %}

{% load  static %}

{% block panel-content %}

<div class="grid-x grid-margin-x">
    <div class="cell grid-x grid-margin-x">

    <form class="cell small-8 input-group" method="POST">{% csrf_token %}
        <span class="input-group-label">Cod.Barras</span>
            {{form.barcode}}
        <span class="input-group-label">Cantidad</span>
            {{form.count}}
        <div class="input-group-button">
        <input type="submit" class="button secondary" value="Agregar">
        </div>
    </form>

    <form class="cell small-2" action="{% url 'venta_app:comprar' %}" method="POST">{% csrf_token %}
        <button type="submit" class="cell button success">
        <i class="fi-shopping-cart"></i>
        <span>Pagar Todo</span>
        </button>
    </form>

    <div class="cell small-2">
        <button class="cell hollow button secondary" href="#">
        <i class="fi-trash"></i>
        <span>Ultimas Ventas</span>
        </button>
    </div>
    </div>

    <div class="grid-x grid-margin-x" style="padding: 1.5em;">
    <!-- contendor de la lista de productos en venta -->
    <div class="cell medium-9">
        <h5 class="cell"> Productos en Venta</h5>
        <table class="hover">
        <thead>
            <th width="200">Cod. Barras</th>
            <th width="250">Nombres</th>
            <th width="120">Precio (S/)</th>
            <th width="100">Cantidad</th>
            <th width="200">Acciones</th>
        </thead>
        <tbody>
            {% for car in carrito %}
            <tr>                
                <td>{{ car.barcode }}</td>
                <td>{{ car.product.name }}</td>
                <td>{{ car.product.sale_price }}</td>
                <td>{{ car.count }}</td>
                <td>
                    <form action="{% url 'venta_app:aumentar' car.id  %}" method="POST">{% csrf_token %}
                        <button type="submit" class="button primary"><i class="fi-plus"></i></button>
                    </form>                    
                </td>
                <td>
                    <form action="{% url 'venta_app:eliminar' car.id %}" method="POST">{% csrf_token %}
                        <button type="submit" class="button alert"><i class="fi-x"></i></button>
                    </form>                    
                </td>               
                
            </tr>            
            {% endfor %}
        </tbody>
        </table>
    </div>

    <!-- contiene los resultados resltantes -->
    <div class="cell medium-3">

        <div class="callout success" style="text-align: center;">
            <h5>Total a Cobrar:</h5>
            <h2> $ {{total_pagar}} </h2>
        </div>

        <br>


        <form class="cell small-2" action="{% url 'venta_app:comprar' %}" method="POST">{% csrf_token %}
            <button type="submit" class="cell button success">
            <i class="fi-shopping-cart"></i>
            <span>Cobrar</span>
            </button>
        </form>


        <form class="cell small-2" action="{% url 'venta_app:factura' %}" method="POST">{% csrf_token %}
            <button type="submit" class="cell button success">
            <i class="fi-print"></i>
            <span>Ver factura</span>
            </button>
        </form>

        

        <a href="#" class="cell hollow button alert">
        <i class="fi-trash"></i>
        <span>Limpiar Todo</span>
        </a>
    </div>

    </div>
</div>

{% endblock panel-content %}